extends layout

block content
  div(class="logo-container logo-container__back1")
    img(class="logo-img" src="/img/web-crawler.png" alt="web-crawler-logo")
  div(class="title-container")
    h1(class="title") It's all about Context.
    h1(class="title-down") Think outside the box...
  div(id="cover")
    form(method="GET" action="")
      div(class="tb")
        div(class="td")
          input(class="field" type="text" placeholder="Search" required)
        div(class="td" id="s-cover")
          button(type="submit")
            div(id="s-circle")
            span


