doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/img/favicon.png")
  body(id="particles-js")
    block content
    footer
      p Christian CP &copy; | IR 2019 | Blog Search Engine
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="/js/script.js")
